header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 30px;
}

header h3 {
  color: var(--color-primary);
  font-size: 1.6rem;
}

header a,
header button {
  color: #000;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

header button {
  color: var(--color-error);
}

header i {
  margin-left: 5px;
}

header a:hover {
  color: #fff;
  background-color: #000;
}

header button:hover {
  color: #fff;
  background-color: var(--color-error);
}
